<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NanoUrl</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
</head>

<body class="bg-purple-500 min-h-screen">
    <header class="bg-purple-100 px-8 py-4 shadow-md">
        <nav class="flex  justify-end gap-4">
            <a href="#" class="hover:text-amber-300 transition duration-300 py-7">Contact us</a>
        </nav>
    </header>
    <main class="flex justify-center items-center py-16 px-4">
        <div class="bg-yellow-200 rounded-3xl shadow-lg pb-8 w-full">
            <h1 class="text-3xl font-bold text-center text-blue-600 mb-6">
                Nano URL Shortner
            </h1>
            <form action="/shorten" method="POST" class="flex items-center gap-4">
                <input type="url" name="url_sumi" placeholder="Enter your long url" class="w-full border border-gray-300
     rounded-xl px-4 py-3 focus:outline-none focus:ring-2
      focus:ring-blue-500 ">
                <div>
                    <button type="submit" class="bg-purple-600 hover:bg-blue-700
                     text-white font-semibold px-1 py-3 rounded-xl transition duration-300
                     hover:shadow-sm">
                        Generate Short URL</button>
                </div>
            </form>
            {%if display_url %}
            <div class="mt-6 bg-gray-100 p-4 rounded-xl text-center">
                <p class="text-xl text-green-600 break-all">
                    Your Generated code is :</p>
                <strong class="text-xl text-green-600 break-all">{{display_url}}
                </strong>
            </div>
            <div id="actions" class="flex justify-center mt-6 gap-4">
                <button class="bg-purple-500 hover:bg-blue-400 text-white font-bold 
        py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                    Copy
                </button>
                <button class="bg-purple-500 hover:bg-blue-400 text-white font-bold 
        py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                    View the site
                </button>
            </div>
            {% endif %}

    </main>
    <!-- <script>
        function showButtons(event) {
            event.preventDefault(); // Prevent form submission
            console.log("Button clicked");
            document.getElementById("actions").classList.remove('hidden');
            document.getElementById("actions").classList.add('flex');
        }
    </script> -->
</body>

</html>