<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <title>Users</title>
</head>
<body class="flex items-center justify-center h-screen bg-slate-400">
    <form method="POST" class="bg-white p-6 rounded-xl shadow-md flex gap-2">
        <input type="text" name="name" placeholder="Enter Your name"
        class="border border-gray-300 p-2 rounded-lg w-80 focus:outline-none
        focus:ring-2 focus:ring-blue-400">
        <button class="bg-blue-500 text-black px-4 py-2
        rounded-lg hover:bg-blue-600">
        Submit</button>
    </form>
    <div>
    {% for user in all_users %}
        <div class="bg-gray-100 p-4 rounded-lg shadow-md mt-4">
            <p class="text-lg text-gray-700">{{user.name}}</p>
        </div>
    {% endfor %}
    </div>
</body>
</html>